<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.15/"></script>

{{> navbar_dashboard }}

<div class="content">
  <h3>Location</h3>
  <span>Name: {{location.name}}</span><br>
  <span>Window: {{location.window}}</span><br>
  <span>Max Capacity: {{location.capacity}}</span><br>

  <h3>Map View</h3>
  <div id="viewDiv" style="width: 640px; height: 480px;"></div>

  <br>

  <h2>At Location... ({{location.current.length}})</h2>
  <div class="row">
    {{#each location.current}}
      <div class="card-padding">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Currently at Location</h6>
            <a href="javascript:document.getElementById('formKick-{{uuid}}').submit()" class="card-link">Kick</a>
          </div>
        </div>

        <div hidden>
          <form id="formKick-{{uuid}}" action="/location/kick" method="post">
            <input type="hidden" name="user_id" value="{{uuid}}"></input>
            <input type="hidden" name="id" value="{{../location.uuid}}"></input>
          </form>
        </div>
      </div>
    {{/each}}
  </div>


  <h2>Ready to Enter... ({{location.waiting.length}})</h2>
  <div class="row">
    {{#each l.waiting}}
      <div class="card-padding">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{fancy_time (time_left timestamp)}} Remaining</h6>
          </div>
        </div>
      </div>
    {{/each}}
  </div>


  <h2>Currently in Line... ({{location.queue.length}})</h1>
  <div class="row">
    {{#each l.queue }}
      <div class="card-padding">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Position {{position}} in queue</h6>
            </div>
          </div>
        </div>
    {{/each}}
  </div>
</div>

<scr{{!}}ipt>
  const point = [{{location.locX}}, {{location.locY}}]
</scr{{!}}ipt>

<script src="/public/js/show.js"></script>