<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.15/"></script>

{{> navbar_user }}

<div class="content">
  <h3>User</h3>
  <p>Name: {{user.name}}</p>

  <h3>Currently in... ({{u.locationsCurrent.length}} Locations)</h3>
  <div class="row">
    {{#each u.locationsCurrent}}
      <div class="card-padding">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Currently at Location</h6>
            <p class="card-text">{{description}}</p>
            <a href="javascript:document.getElementById('formLeave-{{uuid}}').submit()" class="card-link">Leave</a>
          </div>
        </div>
      </div>

      <div hidden>
        <form id="formLeave-{{uuid}}" action="/user/leave" method="post">
          <input type="hidden" name="id" value="{{../user.uuid}}"></input>
          <input type="hidden" name="loc_id" value="{{uuid}}"></input>
          <input type="submit" value="Leave Location"></input>
        </form>
      </div>
    {{/each}}
  </div>

  <h3>Ready to Enter... ({{u.locationsWaiting.length}} Locations)</h3>
  <div class="row">
    {{#each u.waitingTimes}}
      <div class="card-padding">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{location.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{fancy_time (time_left timestamp)}} Remaining</h6>
            <p class="card-text">{{location.description}}</p>
            <a href="javascript:document.getElementById('formCancel-{{location.uuid}}').submit()" class="card-link">Cancel</a>
            <a href="javascript:document.getElementById('formJoin-{{location.uuid}}').submit()" class="card-link">Enter</a>
          </div>
        </div>
      </div>

      <div hidden>
        <form id="formJoin-{{location.uuid}}" action="/user/join" method="post">
          <input type="hidden" name="id" value="{{../user.uuid}}"></input>
          <input type="hidden" name="loc_id" value="{{location.uuid}}"></input>
        </form>

        <form id="formCancel-{{location.uuid}}" action="/user/cancel" method="post">
          <input type="hidden" name="id" value="{{../user.uuid}}"></input>
          <input type="hidden" name="loc_id" value="{{location.uuid}}"></input>
        </form>
      </div>
    {{/each}}
  </div>


  <h3>In Line... ({{u.locationsQueued.length}} Locations)</h3>
  <div class="row">
    {{#each u.positions}}
      <div class="card-padding">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{location.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Position {{position}} in Queue - ETA: {{fancy_time (estimate_time position location.capacity)}}
            </h6>
            <p class="card-text">{{location.description}}</p>
            <a href="javascript:document.getElementById('formCancelQueued-{{location.uuid}}').submit()" class="card-link">Cancel</a>
          </div>
        </div>
      </div>

      <div hidden>
        <form id="formCancelQueued-{{location.uuid}}" action="/user/cancel" method="post">
          <input type="hidden" name="id" value="{{../user.uuid}}"></input>
          <input type="hidden" name="loc_id" value="{{location.uuid}}"></input>
        </form>
      </div>
    {{/each}}
  </div>

  <br><br>

  <h3>Best Route for Locations</h3>
  <div id="viewDiv" style="width: 640px; height: 480px;"></div>
</div>

<scr{{!}}ipt>

  const points = [
    {{#each u.locationsCurrent}}
      [{{locX}}, {{locY}}, 0, {{name}}],
    {{/each}}

    {{#each u.positions}}
      [{{location.locX}}, {{location.locY}}, {{estimate_time position location.capacity}}, {{location.name}}],
    {{/each}}

    {{#each u.locationsWaiting}}
      [{{locX}}, {{locY}}, 0, {{name}}],
    {{/each}}
  ]

</scr{{!}}ipt>
<script src="/public/js/shortest.js"></script>